* {
  box-sizing: border-box;
}

:root {
  --clr-dark: #242424;
  --clr-light: #fff;
  --clr-accent: #636363;
  --clr-blur: rgba(255, 255, 255, 0.5);
  --clr-blue: #2c5ecd;
  --clr-red: #f22;
  --clr-purple: #22f;

  --ff-primary: font-family: 'Source Code Pro', monospace;

  --fw-light: 300;
  --fw-bold: 700;

  --fs-btn: 1em;
  --fs-display: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-light);
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-weight: var(--fw-light);
  font-size: var(--fs-btn);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Typographic  */
h1 {
  color: var(--clr-blue);
  text-align: center;
}

.container {
  width: 90%;
  max-width: 400px;
  min-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2em 1em 2em;
  background-color: var(--clr-dark);
  border: 5px solid var(--clr-blue);
  border-radius: 5%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.display {
  align-self: stretch;
  border: 1px solid var(--clr-blur);
  border-radius: 3px;
  margin-bottom: 2em;
  padding: 0.5em 0.2em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-display);
  text-align: end;
  overflow-x: hidden;
}

.buttons-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'C C AC AC'
    'sign divide multiply minus '
    '7 8 9 add'
    '4 5 6 add'
    '1 2 3 equal'
    'zero zero dot equal';
  gap: 0.5em;

}

[data-value='add'] {
  grid-area: add;
}

[data-value='equal'] {
  grid-area: equal;
}

[data-value='0'] {
  grid-area: zero;
}

[data-value='C'] {
  grid-area: C;
}

[data-value='AC'] {
  grid-area: AC;
}



.btn {
  background-color: var(--clr-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clr-light);
  border-radius: 2px;
}

.btn:hover {
  border-color: var(--clr-blue);
}

[data-value='C'], [data-value='AC'] {
  background-color: var(--clr-red);
}

[data-value='add'],
[data-value='subtract'],
[data-value='multiply'],
[data-value='divide'],
[data-value='sign'],
[data-value='equal'] {
  background-color: var(--clr-purple);
}

/* footer */
footer {
  margin-top: auto;
  margin-bottom: 0;
  text-align: center;
  padding: 1em;
  background-color: var(--clr-accent);
  color: var(--clr-light);
}

footer a {
  color: inherit;
  text-decoration: none;
}


.social-list {
  list-style: none;
  padding: 0;
  margin: .5em 0 0;
  display: flex;
  justify-content: center;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: .5em;
}